body {
	background-color: #fff;
	background-image: linear-gradient(45deg, rgba(0,0,0,0.025) 25%, transparent 25%, transparent 75%, rgba(0,0,0,0.025) 75%, rgba(0,0,0,0.025)),
	linear-gradient(45deg, rgba(0,0,0,0.025) 25%, transparent 25%, transparent 75%, rgba(0,0,0,0.025) 75%, rgba(0,0,0,0.025));
	background-size: 50px 50px;
	background-position: 0 0, 25px 25px;
	padding-right: 200px;
}


#content {
	margin: 50px auto;
}

#legal {
	#isi {
		.isi-wrapper {
			background: #fff;
		}
	}
}

#debug-banner-wrapper {
	margin: 60px auto;
	position: absolute;
	left: 0;
	right: 200px;
	margin: auto;
}


#debug-banner-width, #debug-banner-height {
	position: absolute;
	font-size: 11px;
	border: 1px dotted #000;
	transition: all 500ms ease-out;
}

#debug-banner-width  { 
	top: -30px;
    width: 100%;
    border-bottom: none;
    padding: 5px 0;
    text-align: center;
}

#debug-banner-height {
	height: 100%;
    right: -40px;
    padding: 0 5px;
    border-left: none;
}

#debug-panel {
	position: absolute;
	width: 200px;
	height: 100%;
	top: 0;
	background: #111;
	right: 0px;
	color: #ccc;
	font-size: 10px;

	.debug-panel-header {
		background: #424242;
		font-weight: bold;
    	padding: 7px 15px;
    	text-transform: uppercase;
	}

	.debug-panel-content {
		
		background: #262626;
		padding: 10px 15px 15px 15px;

		.prop {

			padding-bottom: 15px;

			&:last-child {
				padding-bottom: 0px;
			}

			label {
				text-transform: uppercase;
			    color: #999;
			    font-size: 9px;
			    border-bottom: 1px dotted #555;
			    display: block;
			    padding-bottom: 3px;
			    margin-bottom: 3px;
			}

			.val {
				color: #fff;
				font-size: 12px;
				font-weight: bold;
			}

		}

	}
}