#debug-panel {

	.debug-panel-content {

		.prop {

			&.over {

				position: relative;

				&:before {
					content: " ";
					position: absolute;
					width: 7px;
					height: 100%;
					background: #6edc5f;
					left: -15px;
				}

				label {
					color: #6edc5f;
					border-bottom-color: #6edc5f;
				}

				.val {
					color: #6edc5f;

					a {
						color: #6edc5f;
					}
				}

			}

		}
	}
}