/*
|--------------------------------------------------------------------------
|   Animation Keyframes
|--------------------------------------------------------------------------
|
|	Classnames are added to the #content element to indicate keyframes in
|	the animation. The classnames for keyframes will follow this structure:
|		.queue-1
|		.queue-2
|		.queue-3
|		... and so on.
|
|	The keyframes are stored in the 'ad.keyframes' meta tag in the
|	index.html file separated by commas. This meta tag can contain an
|	infinite number of keyframes.
|
|	As a keyframe classname is added to the DOM, it will allow you to trigger
|	CSS animations for any element on the canvas. Target the elements by using
|	the keyframe name (ie: 'queue1') as a prefix for the css selector.
|
|	For example:
|	------------
|	If you want the first frame to fade out on .queue2, then create the
|	following css selector:
|
|		.queue-1 .frame1 { opacity: 0 !important; }
|
|	It's important to note that the initial selector for all elements loaded
|	onto the DOM must have a transition property, otherwise, it won't animate.
|
*/

@import './_variables.scss';


/* Keyframes */

.queue-1 {
	.frame-1 {
		opacity: 1 !important;
	}
}

.queue-2 {
	.frame-1 {
		opacity: 0 !important;
	}
}


.queue-3 {
	.frame-2 {
		opacity: 0 !important;
	}
}

.queue-4 {
	.frame-3 {
		opacity: 0 !important;
	}
}