/*
|--------------------------------------------------------------------------
|   Brand styles
|--------------------------------------------------------------------------
|
|   Brand specific styles to override the default values set in _general.scss
|
*/

@import '_variables';

#content {

	.frames {

		.frame {
			font-size: 20px;
			color: #fff;
			font-weight: bold;
			text-align: center;
			display: flex; 
			align-items: center;

			p {
				width: 100%;
				padding: 1rem;
			}
		}

		.frame-1 {
      		background: #333;
		}

		.frame-2 {
			background: #444;
		}

		.frame-3 {
			background: #555;
		}

		.frame-4 {
			background: #666;
		}

		/* Create additional frame selectors if needed. */
	}

	#legal {

		.header {

			.header-label {

			}

			.expand {

				&:before {

					/* Adjust the 'border-color' property to change the color of the expand icon. */

				}

			}
		}

		#isi {

			.isi-wrapper {

				h2 {

				}

				p {

					.blackbox {
						
					}

				}

				ul, ol {

					li {

					}
				}

				ul {

					li {

						&:before {

							/* Custom ISI bullet. */
						}
					}
				}

				ol {

					li {

					}
				}

			}
		}

		.footer {

			a {
				
			}

		}
	}

}