/*
|--------------------------------------------------------------------------
|   Brand styles
|--------------------------------------------------------------------------
|
|   All elements created specifically for this banner will be styled in this
|	css file. 
|
*/

@import '_variables';


.random {
	width: 100%;
}

#content {

	#frames {

		.frame {

			font: bold 18px/24px Arial;
			color: #fff;
			text-align: center;
			display: flex; 
			align-items: center;

			p {
				width: 100%;
				padding: 1rem;
			}
		}

		.frame-1 {
      		background: #333;
		}

		.frame-2 {
			background: #444;
		}

		.frame-3 {
			background: #555;
		}

		.frame-4 {
			background: #666;
		}

		.cta {
		    color: #fff;
		    text-decoration: none;
		    background: rgba(0,0,0,0.5);
		    padding: 10px 20px;
		    display: inline-block;
		    margin-top: 20px;
		    border-radius: 5px;
		    border: 1px solid rgba(255,255,255,0.4);			
		}

		/* Create additional selectors if more than 4 frames are needed. */

	}

	#legal {

		.header {

			.header-label {

			}

			.expand {

				&:before {

					/* Adjust the 'border-color' property to change the color of the expand icon. */

				}

			}
		}

		#isi {

			.isi-wrapper {

				h2 {

				}

				p {

					.blackbox {

					}

				}

				ul, ol {

					li {

					}
				}

				ul {

					li {

						&:before {

							/* Custom ISI bullet. Adjust the color property to change the color
							of the bullet. */
						}

						/*

							To change the symbol, add the the following class
							name to the <li> tag. 

							.symbol-dagger		
							.symbol-double-dagger	
							.symbol-paragraph-sign
							.symbol-section-sign
							.symbol-asterisk

							To create new symbols, create a new selector name and enter the 
							css code within the content property. Then use that selector as 
							a class name on the <li> element in the HTML.

							example: 

							&.symbol-new-name:before; {
								content: "/1234";
							}

							For a list of CSS Codes, go here:
							https://www.toptal.com/designers/htmlarrows/punctuation/

						*/

					}
				}

				ol {

					li {

					}
				}

			}
		}

		.footer {

			a {
				
			}

		}
	}

}