/*
|--------------------------------------------------------------------------
|   General Styling
|--------------------------------------------------------------------------
|
|   The default values of all elements in the banner. Do not adjust any of
|   these values. Override them in the brand.scss file.
|
*/

@import '_variables';


body,p {
  padding: 0;
  margin: 0;
  font-family: $body-font;
}


/* Frames */

#content {

  border: 1px solid $border-color;
  overflow: hidden;
  position: relative;
  cursor: pointer;

  .frames {

    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .frame {
      position: absolute;
      width: 100%;
      height: 100%;
      transition: opacity $ani-duration ease-out;
    }

    .frame1 {
      opacity: 1;
      z-index: 20;
    }

    .frame2 {
      z-index: 18;
    }

    .frame3 {
      z-index: 16;
    }

    .frame4 {
      z-index: 14;
    }

  }

}



/* Square and vertical sizes */
.w200.h200,
.w250.h250,
.w300.h250,
.w300.h600,
.w160.h600,
.w336.h280 {

  .frames {
    height: calc(100% - #{$isi-size})  !important;
  }

  #legal {
    height: $isi-size;
    bottom: 0px !important;
    font-family: $isi-font;
  }

}


/* Horizontal sizes */
.w468.h60,
.w728.h90,
.w970.h90 {

  .frames {
    width: calc(100% - #{$isi-size}) !important;
  }

  #legal {
    width: $isi-size;
    right: 0px !important;
    height: 100%;

    .header {
      .expand {
        &:before {
          transform: rotate(225deg);
        }
      }
    }
  }

}













/* Shortcut to display the entire ISI below the banner for routing purposes */

.isi-show {
  
  overflow: visible !important;

  #isi {

    .isi-wrapper {

      height: inherit !important;
      top: 100%;
      overflow: visible;
      position: absolute;
      width: 100%;
    }

  }

}