/*
|--------------------------------------------------------------------------
|   Variables
|--------------------------------------------------------------------------
|
|	Set banner variables. Default values listed below.
|
*/



/* ISI & Scrollbar Variables */
$scrollbar-track-color: #eee;
$scrollbar-thumb-color: #999;
$isi-label-color: #eee;
$isi-expand-icon-color: #555;

/* Text colors */
$isi-link-color: #000;

/* Easing */
$easing: cubic-bezier(0.22, 1, 0.36, 1);