/*
|--------------------------------------------------------------------------
|   Variables
|--------------------------------------------------------------------------
|
|	Set banner variables. Default values listed below.
|
*/

/* Frames */
$frames: 4;


/* General variables */
$border-color: #000;
$body-font: Arial;


/* Legal Variables */
$legal-header-bgcolor: #eee;
$legal-header-color: #333;
$legal-footer-bgcolor: #eee;
$legal-footer-color: #333;
$legal-font-size: 7.5px;
$legal-label-height: 18px;


/* ISI */
$isi-expand-icon-color: #555;
$isi-font: Arial;
$isi-font-size: 10px;
$isi-size: 33.3%;
$isi-link-color: #000;


/* ISI Scrollbar Variables */
$scrollbar-track-color: #eee;
$scrollbar-thumb-color: #999;


/* Easing & Animation */
$easing: cubic-bezier(0.22, 1, 0.36, 1);
$ani-duration: 500ms;