/*
|--------------------------------------------------------------------------
|   Brand styles
|--------------------------------------------------------------------------
|
|   Brand specific styles to override the default values set in _general.scss
|
*/

@import '_variables';

#content {

	.frames {

		.frame {
			font-size: 20px;
			color: #fff;
			font-weight: bold;
			text-align: center;
		}

		.frame1 {
      		background: red;
		}

		.frame2 {
			background: blue;
		}

		.frame3 {
			background: green;
		}

		.frame4 {
			background: purple;
		}
	}

	#legal {

		.header {

			.expand {

				&:before {

				}

			}
		}

		#isi {

			.isi-wrapper {

				p {

				}

				ul {

					li {

					}
				}

			}
		}

		.footer {

		}
	}

}