/* 

	TODO: Atomic classes will be disabled until I install a plug-in to remove unused
	CSS. If unused atomic classes aren't removed, they'll add roughly 10k to the banner
	file size.

	====

	Atomic classes are used for pixel pushing. Ideally, elements will be globally set
	through selectors, but there may be instances where certain elements will need
	to be conditonally adjusted. Use atomic classes for that.

	IE: A particular element needs to have 10 pixels of left padding, add the following
	class name to the element.

		pl-10

*/


$loop: 20;
@for $i from 1 through $loop {
    .lh-#{$i} { line-height: #{$i}px !important; }
    .pl-#{$i} { padding-left: #{$i}px !important; }
    .pr-#{$i} { padding-right: #{$i}px !important; }
    .pt-#{$i} { padding-top: #{$i}px !important; }
    .pb-#{$i} { padding-bottom: #{$i}px !important; }
    .px-#{$i} { padding-left: #{$i}px !important; padding-right: #{$i}px !important;}
    .py-#{$i} { padding-top: #{$i}px !important; padding-bottom: #{$i}px !important;}
    .ml-#{$i} { margin-left: #{$i}px !important; }
    .mr-#{$i} { margin-right: #{$i}px !important; }
    .mt-#{$i} { margin-top: #{$i}px !important; }
    .mb-#{$i} { margin-bottom: #{$i}px !important; }
    .mx-#{$i} { margin-left: #{$i}px !important; margin-right: #{$i}px !important;}
    .my-#{$i} { margin-top: #{$i}px !important; margin-bottom: #{$i}px !important;}
}
@for $i from 8 through 26 {
	fs-#{$i} { font-size: #{$i}px !important; }
}
