/*
|--------------------------------------------------------------------------
|   General Styling
|--------------------------------------------------------------------------
|
|   The default values of all elements in the banner. Do not adjust any of
|   these values. Override them in the brand.scss file.
|
*/

@import '../../styles/_variables';


body,p {
  padding: 0;
  margin: 0;
  font-family: $body-font;
}


/* Frames */

#content {

  outline: 1px solid $border-color;
  overflow: hidden;
  position: relative;

  .link {
    cursor: pointer;
    text-decoration: underline;
  }

  .frames {

    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    cursor: pointer;

    .frame {
      position: absolute;
      width: 100%;
      height: 100%;
      transition: opacity $ani-duration ease-out;
    }

    /*
    |   Generates a .frame-# class using the $frames variable and decrement
    |   the z-index of each frame. This allows you to properly stack the frames
    |   on top of each other, allowing you to simply adjust the opacity of each
    |   frame (from 1 to 0) which will hide the top frame and reveal the 
    |   frames below.
    |
    |   Example:
    |
    |   .frame-1 { z-index: 4; }
    |   .frame-2 { z-index: 3; }
    |   .frame-3 { z-index: 2; }
    |   .frame-4 { z-index: 1; }
    |
    */

    @for $i from 1 through $frames {
      $zindex: $frames - $i + 1;
      .frame-#{$i} { z-index: $zindex; }
    }

  }

}


/* Square and vertical sizes */
.size-square, .size-tall {

  .frames {
    height: calc(100% - #{$isi-size})  !important;
  }

}


/* Horizontal sizes */
.size-wide {

  .frames {
    width: calc(100% - #{$isi-size}) !important;
  }

}

